<h1>Novo Utilizador</h1>
<table border="1">
<tr>
<td>Nome</td><td></td>
</tr>
<tr>
<td>Email</td><td></td>
</tr>
<tr>
<td>Data de Nascimento</td><td>T</td>
</tr>
<tr>
<td>Morada</td><td>Ta</td>
</tr>
<tr>
<td>Localidade</td><td></td>
</tr>
</table>